<table>
    <thead>
        <tr>
            <td>Name</td>
            <td>Age</td>
            <td>Phone</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employeeList">
            <td> {{emp.name}} </td>
            <td> {{emp.age}} </td>
            <td> {{emp.phone}} </td>
            <td>
                <button class="edit" [routerLink]="['employee-detail', employee.id]">Edit</button>
                <button class="delete" delete-employee>Delete</button>
            </td>
        </tr>
    </tbody>
</table>
